.logo-img{
    width: 70px;
    height: 70px;
}

*{
    margin: 0px;
    padding: 0px;
}

#branding{
    text-align: center;
    margin-top: 3rem;
}

#branding h1,p{
    margin-bottom: 1rem;
}



form input {
    display: block;
    height: 3rem;
    width: 16rem;
    border: none;
    margin: 0px auto 1rem auto;
    font-size: 14px;
}

form{
    text-align: center;
}

#form-container{
    width: 21rem;
    margin: 0px auto;
    text-align: center;
}

#default-btn{
    border: none;
    height: 2.5rem;
    width: 19rem;
    border-radius: 5px;
    background: red;
    color: white;
    font-weight: 200;
    font-size: 16px;
    transition: 500ms;
}

#default-btn:hover{
    cursor: pointer;
    background: rgb(167, 0, 0);
}

#form-container p{
    margin-top: 3rem;
    text-align: center;
    font-size: 14px;
    color: gray;
}

#form-container a{
    text-decoration: none;
    color: red;
    font-size: 16px;
}

#form-container a:hover{
    cursor: pointer;
}

#register{
    display: block;
    color: rgb(167, 0, 0);
}

#register:hover{
    cursor:pointer;
}