#logout {
    color: white;
}

#logout:hover{
    cursor: pointer;
}

header{
    background: rgba(167, 0, 0);
}

header h1,p{
    margin: 0px;
    padding: 0px;
    display: inline;
}

header h1{
    color: white;
    margin-left: 0.7rem;
}

header p {
    float: right;
    margin-right: 1rem;
    color: white;
    margin-top: 0.5rem;
}

li{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 3rem;
    grid-template-areas: "name p btn";
    width: 100%;
    margin: 0px auto;
    height: 3rem;
    background: white;
    margin-top: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.50);
    border-left: 5px solid rgb(167, 0, 0);;

}

ul{
    margin-top: 2rem;
    list-style-type: none;
}

#actions{
    margin: 2rem auto 0px auto;
    display: block;
    width: 40%;
}

#actions input[type="button"]{
    border: none;
    background: rgb(167, 0, 0);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
    height: 2rem;
    border-radius: 5px;
    font-weight: 600;
}

#actions select{
    width: 28.5%;
    margin-right: 0.25rem;
    height: 2rem;
}

#actions input[type="text"]{
    width: 70%;
    height: 2rem;
    margin-bottom: 5px;
}

#actions input[type="button"]:hover{
    cursor: pointer;
}

.t-name{
    display: inline-block;
    grid-area: name;
    align-self: center;
    justify-self: start;
    margin-left: 1rem;
}

.t-priority{
    display: inline-block;
    margin-left: 4rem;
    grid-area: p;
    align-self: center;
    justify-self: center;
}

#img-trash{
    width: 2rem;
    align-self: center;
    justify-self: center;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    opacity: 0.3;
}

#img-edit{
    width: 2rem;
    align-self: center;
    justify-self: center;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    opacity: 0.3;
}

#buttons{
    grid-area: btn;
    align-self: center;
    justify-self: end;
}

#img-edit:hover{
    cursor:pointer;
    
}

#img-trash:hover{
    cursor:pointer;
    
}

#addTask{
    width: 40%;
    margin: 3rem auto 0px auto;
}

#addTask{
    padding-top: 5px;
}

#plus{
    font-size: 30px;
    font-weight: 100;
}

#addTask:hover{
    color: rgb(167, 0, 0);
    cursor: pointer;
}

#addTask:hover > #plus{
    font-weight: 900;
}

#cancel{
    text-decoration: underline;
    margin-left: 1rem;
}

#cancel:hover{
    cursor:pointer;
}


#main{
    width: 40%;
    margin: 0px auto;
    font-weight: 500;
}

#main h2{
    display: inline-block;
}

#order{
    text-decoration: underline;
}

#order:hover{
    cursor: pointer;
}

#loading{
    width: 2rem;
    opacity: 0.5;
    position: absolute;
    top: 3rem;
    left: 42rem;
    display: block;
}